<div class="row">
  <div class="col-12-xs text-center">
    <div class="panel panel-default">
      <div class="panel-heading ">Aviso</div>
      <div class="panel-body">
        <p>Deseja realmente realizar esta operação ? </p>
         <button type="button" class="btn btn-success" ng-click="usuario.Excluir()">Sim <span class="glyphicon glyphicon-ok"></span></button>
         <a href="#!/usuario"><button type="button" class="btn btn-danger">Não <span class="glyphicon glyphicon-remove"></span></button></a>
      </div>
    </div>
  </div>
</div>
